<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="container" align="center">
  <hr>
<h1>Nuevo Producto:</h1>
  <hr>
<p>
  Codigo:<input type="number" class="form-control" [(ngModel)]="art.codigo"/>
</p>
<p>
  Descripción:<input type="text" class="form-control" [(ngModel)]="art.descripcion"/>
</p>
<p>
  Precio:<input type="number" class="form-control" [(ngModel)]="art.precio"/>
</p>
<p><button class="btn btn-primary" (click)="agregar()">Agregar</button>&nbsp;
<button class="btn btn-primary" (click)="modificar()">Modificar</button></p>
</div>
<div class="container">
  <hr>
<h1 align="center">Lista de Productos</h1>
<table border="1" class="table" *ngIf="hayRegistros() ; else sinarticulos">
  <thead class="thead-dark">
  <tr>
    <td>Codigo</td>
    <td>Descripcion</td>
    <td>Precio</td>
    <td>Acciones</td>
  </tr>
</thead>
  <tr *ngFor="let art of articulos">
    <td>{{art.codigo}}</td>
    <td>{{art.descripcion}}</td>
    <td>{{art.precio}}</td>
    <td>
      <button class="btn btn-danger" (click)="borrar(art)">Eliminar</button>&nbsp;
      <button class="btn btn-primary" (click)="seleccionar(art)">Seleccionar</button>
    </td>
  </tr>
</table>
<ng-template #sinarticulos><p>No hay articulos</p></ng-template>
</div>
<router-outlet></router-outlet>